:root{
    --main-white:#FBFBFB;
    --main-green:#576F35;
    --main-pink:#7A3145;
    --main-black:#141414;
    --reviews-user-image-bg:#E0E0E0;
}
$bp-desktop: 1280px;
$bp-tablet: 768px;
$bp-mobile: 480px;